
/*------------
  popcorn
------------*/

.popcorn-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 48%;
	left: 46%;
	/*z-index: 2;*/
}
.popcorn1 {
	position: absolute;
	display: block;
	width: 13vh;
	height: 13vh;
	background: url("../images/top/popcorn_1.png") no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}

.popcorn2 {
	position: absolute;
	display: block;
	width: 13vh;
	height: 13vh;
	background: url("../images/top/popcorn_2.png") no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}

.popcorn3 {
	position: absolute;
	display: block;
	width: 13vh;
	height: 13vh;
	background: url("../images/top/popcorn_3.png") no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}

.popcorn4 {
	position: absolute;
	display: block;
	width: 13vh;
	height: 13vh;
	background: url("../images/top/popcorn_4.png") no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}

.rotate1 {
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation:spin 5s linear 0s infinite normal;
}

.rotate2 {
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: spin 5s linear 0s infinite reverse;
}

.rotate3 {
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation:spin 3s linear 0s infinite normal;
}

.rotate4 {
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: spin 3s linear 0s infinite reverse;
}

@keyframes spin {
	from {
	transform: rotate(0deg);
	}
	to {
	transform: rotate(360deg);
	}
}

.scale11 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale1 3s ease-out 0s infinite backwards;
}

.scale12 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale2 3s ease-out 0s infinite backwards;
}

.scale13 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale3 3s ease-out 0s infinite backwards;
}

.scale14 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale4 3s ease-out 0s infinite backwards;
}

.scale21 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale1 4s ease-out 0s infinite backwards;
}

.scale22 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale2 4s ease-out 0s infinite backwards;
}

.scale23 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale3 4s ease-out 0s infinite backwards;
}

.scale24 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale4 4s ease-out 0s infinite backwards;
}

.scale31 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale1 2.5s ease-out 0.5s infinite backwards;
}

.scale32 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale2 2.5s ease-out 0.5s infinite backwards;
}

.scale33 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale3 2.5s ease-out 0.5s infinite backwards;
}

.scale34 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale4 2.5s ease-out 0.5s infinite backwards;
}

.scale41 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale1 3.5s ease-out 1s infinite backwards;
}

.scale42 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale2 3.5s ease-out 1s infinite backwards;
}

.scale43 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale3 3.5s ease-out 1s infinite backwards;
}

.scale44 {
	position: absolute;
	-webkit-transform-origin: 6.5vh 5vh;
	   -moz-transform-origin: 6.5vh 5vh;
	    -ms-transform-origin: 6.5vh 5vh;
	     -o-transform-origin: 6.5vh 5vh;
	        transform-origin: 6.5vh 5vh;
	animation: scale4 3.5s ease-out 1s infinite backwards;
}

@keyframes scale1 {
    0% { transform: scale(0.2); opacity: 0;}
    10% { opacity: 0;}
    20% { opacity: 0.9;}
    100% { transform: scale(2); opacity: 1;}
}

@keyframes scale2 {
    0% { transform: scale(0.2); opacity: 0;}
    10% { opacity: 0;}
    20% { opacity: 0.9;}
    100% { transform: scale(1); opacity: 1;}
}

@keyframes scale3 {
    0% { transform: scale(0.2); opacity: 0;}
    10% { opacity: 0;}
    20% { opacity: 0.9;}
    100% { transform: scale(1.5); opacity: 1;}
}
@keyframes scale4 {
    0% { transform: scale(0.2); opacity: 0;}
    10% { opacity: 0;}
    20% { opacity: 0.9;}
    100% { transform: scale(3); opacity: 1;}
}

.move11 {
	animation: move1 3s ease-out 0s infinite;
}

.move12 {
	animation: move2 3s ease-out 0s infinite;
}

.move13 {
	animation: move3 3s ease-out 0s infinite;
}

.move14 {
	animation: move4 3s ease-out 0s infinite;
}

.move15 {
	animation: move5 3s ease-out 0s infinite;
}

.move16 {
	animation: move6 3s ease-out 0s infinite;
}

.move17 {
	animation: move7 3s ease-out 0s infinite;
}

.move18 {
	animation: move8 3s ease-out 0s infinite;
}

.move19 {
	animation: move9 3s ease-out 0s infinite;
}

.move110 {
	animation: move10 3s ease-out 0s infinite;
}

.move111 {
	animation: move11 3s ease-out 0s infinite;
}

.move112 {
	animation: move12 3s ease-out 0s infinite;
}

.move113 {
	animation: move13 3s ease-out 0s infinite;
}

.move114 {
	animation: move14 3s ease-out 0s infinite;
}

.move115 {
	animation: move15 3s ease-out 0s infinite;
}

.move116 {
	animation: move16 3s ease-out 0s infinite;
}

.move21 {
	animation: move1 4s ease-out 0s infinite;
}

.move22 {
	animation: move2 4s ease-out 0s infinite;
}

.move23 {
	animation: move3 4s ease-out 0s infinite;
}

.move24 {
	animation: move4 4s ease-out 0s infinite;
}

.move25 {
	animation: move5 4s ease-out 0s infinite;
}

.move26 {
	animation: move6 4s ease-out 0s infinite;
}

.move27 {
	animation: move7 4s ease-out 0s infinite;
}

.move28 {
	animation: move8 4s ease-out 0s infinite;
}

.move29 {
	animation: move9 4s ease-out 0s infinite;
}

.move210 {
	animation: move10 4s ease-out 0s infinite;
}

.move211 {
	animation: move11 4s ease-out 0s infinite;
}

.move212 {
	animation: move12 4s ease-out 0s infinite;
}

.move213 {
	animation: move13 4s ease-out 0s infinite;
}

.move214 {
	animation: move14 4s ease-out 0s infinite;
}

.move215 {
	animation: move15 4s ease-out 0s infinite;
}

.move216 {
	animation: move16 4s ease-out 0s infinite;
}

.move31 {
	animation: move1 2.5s ease-out 0.5s infinite;
}

.move32 {
	animation: move2 2.5s ease-out 0.5s infinite;
}

.move33 {
	animation: move3 2.5s ease-out 0.5s infinite;
}

.move34 {
	animation: move4 2.5s ease-out 0.5s infinite;
}

.move35 {
	animation: move5 2.5s ease-out 0.5s infinite;
}

.move36 {
	animation: move6 2.5s ease-out 0.5s infinite;
}

.move37 {
	animation: move7 2.5s ease-out 0.5s infinite;
}

.move38 {
	animation: move8 2.5s ease-out 0.5s infinite;
}

.move39 {
	animation: move9 2.5s ease-out 0.5s infinite;
}

.move310 {
	animation: move10 2.5s ease-out 0.5s infinite;
}

.move311 {
	animation: move11 2.5s ease-out 0.5s infinite;
}

.move312 {
	animation: move12 2.5s ease-out 0.5s infinite;
}

.move313 {
	animation: move13 2.5s ease-out 0.5s infinite;
}

.move314 {
	animation: move14 2.5s ease-out 0.5s infinite;
}

.move315 {
	animation: move15 2.5s ease-out 0.5s infinite;
}

.move316 {
	animation: move16 2.5s ease-out 0.5s infinite;
}

.move41 {
	animation: move1 3.5s ease-out 1s infinite;
}

.move42 {
	animation: move2 3.5s ease-out 1s infinite;
}

.move43 {
	animation: move3 3.5s ease-out 1s infinite;
}

.move44 {
	animation: move4 3.5s ease-out 1s infinite;
}

.move45 {
	animation: move5 3.5s ease-out 1s infinite;
}

.move46 {
	animation: move6 3.5s ease-out 1s infinite;
}

.move47 {
	animation: move7 3.5s ease-out 1s infinite;
}

.move48 {
	animation: move8 3.5s ease-out 1s infinite;
}

.move49 {
	animation: move9 3.5s ease-out 1s infinite;
}

.move410 {
	animation: move10 3.5s ease-out 1s infinite;
}

.move411 {
	animation: move11 3.5s ease-out 1s infinite;
}

.move412 {
	animation: move12 3.5s ease-out 1s infinite;
}

.move413 {
	animation: move13 3.5s ease-out 1s infinite;
}

.move414 {
	animation: move14 3.5s ease-out 1s infinite;
}

.move415 {
	animation: move15 3.5s ease-out 1s infinite;
}

.move416 {
	animation: move16 3.5s ease-out 1s infinite;
}

@keyframes move1 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(100vw, 100vh); }
}

@keyframes move2 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(-100vw, 100vh); }
}

@keyframes move3 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(100vw, -100vh); }
}

@keyframes move4 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(-100vw, 100vh); }
}

@keyframes move5 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(0vw, 100vh); }
}

@keyframes move6 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(0vw, -100vh); }
}

@keyframes move7 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(100vw, 0vh); }
}

@keyframes move8 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(-100vw, 0vh); }
}

@keyframes move9 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(100vw, 50vh); }
}

@keyframes move10 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(-100vw, -50vh); }
}

@keyframes move11 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(50vw, 100vh); }
}

@keyframes move12 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(-100vw, 50vh); }
}

@keyframes move13 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(-50vw, 100vh); }
}

@keyframes move14 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(50vw, -100vh); }
}

@keyframes move15 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(100vw, -50vh); }
}

@keyframes move16 {
    0% { transform: translate(0vw, 0vh); }
    100% { transform: translate(-50vw, -100vh); }
}
