<div class="is-pc">
  <div class='logo-container'>
    <a href="index.html"><img src='images/common/logo-title.png'></a>
  </div>
  <nav class='nav'>
    <ul class='drop-menu'>
      <li class='drop-menu-item'>
        <a href='about.html'>ABOUT<img src='images/common/nav-icon.png'></a>
        <ul class='sub-menu'>
          <li><a href='about.html#theme'>theme</a></li>
          <li><a href='about.html#access'>access</a></li>
          <li><a href='about.html#sns'>sns</a></li>
        </ul>
      </li>
      <li class='drop-menu-item'>
        <a href='event.html'>EVENT<img src='images/common/nav-icon.png'></a>
        <ul class='sub-menu'>
          <li><a href='event.html#stage'>stage</a></li>
          <li><a href='event.html#cafe'>cafe</a></li>
          <li><a href='event.html#ws'>workshop</a></li>
          <li><a href='event.html#booth'>booth</a></li>
        </ul>
      </li>
      <li class='drop-menu-item'>
        <a href='cm.html'>CM<img src='images/common/nav-icon.png'></a>
        <ul class='sub-menu'>
          <li><a href='cm.html#movie'>movie</a></li>
          <li><a href='cm.html#graphic'>graphic</a></li>
        </ul>
      </li>
      <li class='drop-menu-item'>
        <a href='sponsor.html'>SPONSOR<img src='images/common/nav-icon.png'></a>
      </li>

    </ul>
  </nav>
</div>


  <div class="sp-header is-sp">
    <div id="navToggle">
      <div class="nav-overlay"></div>
      <div class="l-relative">
        <span></span> <span></span> <span></span>
      </div>
    </div>
  <!--#navToggle END-->
    <nav>
      <ul>
        <li><a href='index.html'>TOP</a></li>
        <li><a href='about.html'>ABOUT</a></li>
        <li><a href='event.html'>EVENT</a></li>
        <li><a href='cm.html'>CM</a></li>
        <li><a href='sponsor.html'>SPONSOR</a></li>
      </ul>
    </nav>
  </div>

  <script>
  $(function(){
    $('#navToggle').on('click',function(){
      $('.sp-header').toggleClass('open-nav');
      $('body').toggleClass('non-scroll');
    });
  });
  </script>
