<div class="is-pc">
  <div class='logo-container'>
    <a href="index"><img src='images/common/logo-title.png'></a>
  </div>
  <nav class='nav'>
    <ul class='drop-menu'>
      <li class='drop-menu-item'>
        <a href='about'>ABOUT<img src='images/common/nav-icon.png'></a>
        <ul class='sub-menu'>
          <li><a href='about#theme'>theme</a></li>
          <li><a href='about#access'>access</a></li>
          <li><a href='about#sns'>sns</a></li>
        </ul>
      </li>
      <li class='drop-menu-item'>
        <a href='event'>EVENT<img src='images/common/nav-icon.png'></a>
        <ul class='sub-menu'>
          <li><a href='event#stage'>stage</a></li>
          <li><a href='event#cafe'>cafe</a></li>
          <li><a href='event#ws'>workshop</a></li>
          <li><a href='event#booth'>booth</a></li>
        </ul>
      </li>
      <li class='drop-menu-item'>
        <a href='cm'>CM<img src='images/common/nav-icon.png'></a>
        <ul class='sub-menu'>
          <li><a href='cm#movie'>movie</a></li>
          <li><a href='cm#graphic'>graphic</a></li>
        </ul>
      </li>
      <li class='drop-menu-item'>
        <a href='sponsor'>SPONSOR<img src='images/common/nav-icon.png'></a>
      </li>

    </ul>
  </nav>
</div>


  <div class="sp-header is-sp">
    <div id="navToggle">
      <div class="nav-overlay"></div>
      <div class="l-relative">
        <span></span> <span></span> <span></span>
      </div>
    </div>
  <!--#navToggle END-->
    <nav>
      <ul>
        <li><a href='index'>TOP</a></li>
        <li><a href='about'>ABOUT</a></li>
        <li><a href='event'>EVENT</a></li>
        <li><a href='cm'>CM</a></li>
        <li><a href='sponsor'>SPONSOR</a></li>
      </ul>
    </nav>
  </div>

  <script>
  $(function(){
    $('#navToggle').on('click',function(){
      $('.sp-header').toggleClass('open-nav');
      $('body').toggleClass('non-scroll');
    });
  });
  </script>
